<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
              version="2.2">
    <persistence-unit name="miUnidadDePersistencia">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
		<class>logica.Usuario</class>
		<class>logica.Clase</class>
		<class>logica.Inscripcion</class>
		<class>logica.Actividad</class>
        <!-- Configuración de la base de datos -->
        <properties>
            <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/miBaseDeDatos"/>
            <property name="javax.persistence.jdbc.user" value="miUsuario"/>
            <property name="javax.persistence.jdbc.password" value="miContraseña"/>
            <property name="eclipselink.ddl-generation" value="create-drop"/>
            <property name="eclipselink.logging.level" value="INFO"/>
        </properties>
    </persistence-unit>
</persistence>
